.textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  color: #fff;
  background-color: rgb(21, 32, 43);
  border: none;
  width: 100%;
  min-height: 100px;
  font-size: 19px;
  padding: 0.5rem 0;
  outline: none;
  border-bottom: 1px solid #8899a6;
  font-weight: 400;
  resize: none;
  margin-bottom: -1px;
}

.textarea:placeholder {
  color: #8899a6;
}

.textarea:focus {
  border-bottom: 2px solid #1da0f2;
  margin-bottom: -2px;
}
