html {
  box-sizing: inherit;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #15202b;
  color: #ddd;
  height: 100%;
}
