html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #8899a6 21px, transparent 1%) center,
    linear-gradient(#8899a6 21px, transparent 1%) center, #15202b;
  background-size: 22px 22px;
}
